// Color
@import "../../src/sass/materialize-css/components/color-variables";
@import "../../src/sass/materialize-css/components/color-classes";

// Variables;
@import "../../src/sass/materialize-css/components/variables";

// Reset
//@import "../../src/sass/materialize-css/components/normalize";

// components
@import "../../src/sass/materialize-css/components/global";
//@import "../../src/sass/materialize-css/components/badges";
@import "../../src/sass/materialize-css/components/icons-material-design";
//@import "components/grid";
//@import "../../src/sass/materialize-css/components/navbar";
@import "../../src/sass/materialize-css/components/typography";
@import "../../src/sass/materialize-css/components/transitions";
//@import "../../src/sass/materialize-css/components/cards";
//@import "../../src/sass/materialize-css/components/toast";
//@import "../../src/sass/materialize-css/components/tabs";
//@import "../../src/sass/materialize-css/components/tooltip";
@import "../../src/sass/materialize-css/components/buttons";
//@import "../../src/sass/materialize-css/components/dropdown";
@import "../../src/sass/materialize-css/components/waves";
//@import "../../src/sass/materialize-css/components/modal";
//@import "../../src/sass/materialize-css/components/collapsible";
//@import "../../src/sass/materialize-css/components/chips";
//@import "../../src/sass/materialize-css/components/materialbox";
@import "../../src/sass/materialize-css/components/forms/forms";
//@import "../../src/sass/materialize-css/components/table_of_contents";
@import "../../src/sass/materialize-css/components/sidenav";
//@import "../../src/sass/materialize-css/components/preloader";
//@import "../../src/sass/materialize-css/components/slider";
//@import "../../src/sass/materialize-css/components/carousel";
//@import "../../src/sass/materialize-css/components/tapTarget";
@import "../../src/sass/materialize-css/components/pulse";
//@import "../../src/sass/materialize-css/components/datepicker";
//@import "../../src/sass/materialize-css/components/timepicker";